{% trans_default_domain 'FOSUserBundle' %}
<div class="login-bg">
        <div class="container">
            <div class="form-wrapper">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' }, 'attr': {'class': 'form-signin wow fadeInUp'} }) }}
<h2 class="form-signin-heading">Edit your informations</h2>    
<div class="login-wrap">   
{{ form_row(form.email , { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.birth_date, { 'attr': {'class': 'form-control'} }) }}
{% if form.level is defined %}
{{ form_row(form.level, { 'attr': {'class': 'form-control'} }) }}
{% endif %}
{{ form_row(form.image_file, { 'attr': {'class': 'form-control'} }) }}

{% if form.cv_file is defined %}
   {{ form_row(form.cv_file, { 'attr': {'class': 'form-control'} }) }}
    {% endif %}


{{ form_row(form.current_password, { 'attr': {'class': 'form-control'} }) }}

    <div>
        <input class="btn btn-lg btn-login btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
        </div>
{{ form_end(form) }}

            </div>
        </div>
    </div>