{% extends "FOSUserBundle::layout.html.twig" %}
{% block pagetitle %}Video Conference{% endblock %}
{% block arianne %}Video Conference{% endblock %}

{% block body %}

        <div class="container">
        <div class="row">
            <div class="col-md-12">

                 <div class="video-container single-video">
                    <iframe  src="{{video.link}}" allowfullscreen="" style="border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
    
        <div class="container">
        <div class="row">

            <div class="col-lg-9 ">
                <div class="title">
                    <h3>Live Course </h3>
                    <hr>
                </div>
                <div class="pf-detail">
                
                </div>
            </div>

            <div class="col-lg-3">
                <div class="title">
                    <h3>Course Details</h3>
                    <hr>
                </div>
                <ul class="list-unstyled pf-list">
                    <li><i class="fa fa-arrow-circle-right pr-10"></i><b>Course: {{video.course}}</b> <span><a href="#"></a></span></li>
                    <li><i class="fa fa-arrow-circle-right pr-10"></i><b>Chapter: {{video.chapter}}</b></li>
                    <li><i class="fa fa-arrow-circle-right pr-10"></i><b>Note: {{video.note}}</b><span></span></li>
                </ul>
            </div>

            <!--portfolio detail end-->
        </div>
    
       <div class="clock" style="margin:2em;"></div>
	<div class="message"></div>
    </div>

<script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') }}"></script>

<script src="{{ asset('../compiled/flipclock.js') }}"></script>
<script type="text/javascript">
		var clock;
		
		$(document).ready(function() {
			var clock;

			clock = $('.clock').FlipClock({
		        clockFace: 'DailyCounter',
		        autoStart: false,
		        callbacks: {
		        	stop: function() {
		        		$('.message').html('The clock has stopped!');
		        	}
		        }
		    });
				    
		    clock.setTime(220880);
		    clock.setCountdown(true);
		    clock.start();

		});
	</script>
    {% endblock  %}
    